{% extends 'templates/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/plugins/toastr/toastr.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/plugins/dataTables/datatables.min.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/plugins/toastr/toastr.min.js') }}"></script>
    <script src="{{ asset('assets/js/plugins/validate/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('assets/js/validations/validate.cf.arrendamiento.js') }}"></script>
    <script src="{{ asset('assets/js/plugins/dataTables/datatables.min.js') }}"></script>
    <script src="{{ asset('assets/js/plugins/jeditable/jquery.jeditable.js') }}"></script>
    <script>
        $(function () {
            $('#editable').DataTable({
                aaSorting: [[0, "asc"]]
            });
        });
    </script>
{% endblock %}

{% block breadcrumb %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2 class="text-uppercase">Arrendamientos</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ url('_inicio') }}">Inicio</a>
                </li>
                <li>
                    Control de Fondo
                </li>
                <li class="active">
                    <strong>Arrendamientos</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
{% endblock %}

{% block body %}

    {# Mensajes #}
    {% include 'templates/messages.html.twig' %}

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 class="text-uppercase">Arrendamientos</h5>
                    {# Agragar Arrendamiento #}
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_CF') %}
                        <a href="{{ url('_cf_arrendamiento_new') }}" type="button"
                           class="btn btn-outline btn-primary btn-sm pull-right new">
                            <i class="fa fa-plus"></i>
                            Nuevo arrendamiento
                        </a>
                    {% endif %}
                    {# /Agragar Arrendamiento #}
                    <div class="ibox-content table-responsive">
                        <table id="editable" class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="col-lg-1">No. Registro</th>
                                <th class="col-lg-2">Nombre y Apellidos</th>
                                <th class="col-lg-2">Resolución</th>
                                <th class="col-lg-1">No. Expediente</th>
                                <th class="col-lg-1">No. Contrato</th>
                                <th class="col-lg-1">Fecha de Contrato</th>
                                <th class="col-lg-1">Año de Construcción</th>
                                <th class="col-lg-1">Valor</th>
                                <th class="col-lg-2 text-center">Acción</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in arrendamientos %}
                                <tr>
                                    <td>
                                        {{ item.numeroRegistro }}
                                    </td>
                                    <td>
                                        {% for cliente in item.clientes %}
                                            {{ cliente.nombreCompleto }}
                                            {% if item.clientes|length>1 and not loop.last %}
                                                <br>
                                            {% endif %}
                                        {% endfor %}
                                    </td>


                                    <td>
                                        {{ item.resolucion }}
                                    </td>
                                    <td>
                                        {{ item.expediente }}
                                    </td>
                                    <td>
                                        {{ item.numeroContrato }}
                                    </td>
                                    <td>
                                        {{ item.fechaContrato | date('d/m/Y') }}
                                    </td>
                                    <td>
                                        {{ item.anoConstruccion }}
                                    </td>
                                    <td>
                                        {{ item.valor | number_format(2, '.', ',') }}
                                    </td>
                                    <td class="text-center">
                                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_CF') %}
                                            <div class="tooltip-demo">
                                                <div class="btn-group">

                                                    {% if item.isBaja %}
                                                        <button type="button" class="btn btn-sm btn-primary disabled">
                                                            <i class="fa fa-user-plus"></i>
                                                        </button>
                                                        <button type="button"
                                                                class="btn btn-sm btn-info disabled">
                                                            <i class="fa fa-comment"></i>
                                                        </button>

                                                        {% if is_granted('ROLE_ADMIN') %}
                                                            <button type="button"
                                                                    class="btn btn-success btn-sm btn-outline edit"
                                                                    data-toggle="tooltip" data-placement="top"
                                                                    data-id="{{ item.id }}"
                                                                    title="Editar">
                                                                <i class="fa fa-clipboard"></i>
                                                            </button>
                                                        {% else %}
                                                            <button type="button"
                                                                    class="btn btn-success btn-sm disabled">
                                                                <i class="fa fa-clipboard"></i>
                                                            </button>
                                                        {% endif %}

                                                        <button type="button"
                                                                class="btn btn-sm btn-danger disabled">
                                                            <i class="fa fa-check-circle"></i>
                                                            Dar Baja
                                                        </button>
                                                    {% else %}
                                                        <button type="button"
                                                                class="btn btn-sm btn-outline btn-primary add"
                                                                data-toggle="tooltip" data-placement="top"
                                                                data-id="{{ item.id }}"
                                                                title="Agregar Arrendatario">
                                                            <i class="fa fa-user-plus"></i>
                                                        </button>
                                                        <button type="button"
                                                                class="btn btn-sm btn-outline btn-info info"
                                                                data-toggle="tooltip" data-placement="top"
                                                                title="Información del Arrendamiento"
                                                                data-id="{{ item.id }}">
                                                            <i class="fa fa-info-circle"></i>
                                                        </button>
                                                        <button type="button"
                                                                class="btn btn-success btn-sm btn-outline edit"
                                                                data-toggle="tooltip" data-placement="top"
                                                                data-id="{{ item.id }}"
                                                                title="Editar">
                                                            <i class="fa fa-clipboard"></i>
                                                        </button>
                                                        <button type="button"
                                                                class="btn btn-sm btn-danger btn-outline end"
                                                                data-toggle="modal"
                                                                data-target="#ModalEnd"
                                                                data-name="{{ item.numeroRegistro }}"
                                                                data-item="{{ item.id }}">
                                                            <i class="fa fa-check-circle"></i>
                                                            Dar Baja
                                                        </button>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% elseif is_granted('ROLE_DIRECTOR')%}
                                                <button type="button"
                                                        class="btn btn-sm btn-outline btn-info info"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="Información del Arrendamiento"
                                                        data-id="{{ item.id }}">
                                                    <i class="fa fa-info-circle"></i>
                                                </button>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden">
        {{ form_start(formArr, {'attr':{'id':'formArr'}}) }}
        {{ form_widget(formArr) }}
        {{ form_end(formArr) }}
    </div>

    <div class="hidden">
        {{ form_start(formInfo, {'attr':{'id':'formInfo'}}) }}
        {{ form_widget(formInfo) }}
        {{ form_end(formInfo) }}
    </div>

    <div class="hidden">
        {{ form_start(formEdit, {'attr':{'id':'formEdit'}}) }}
        {{ form_widget(formEdit) }}
        {{ form_end(formEdit) }}
    </div>

    {# Modal Dar Baja #}
    <div class="modal inmodal fade" id="ModalEnd" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                                aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h5 id="delete_title" class="modal-title text-danger">¿ESTÁ SEGURO?</h5>
                </div>
                {{ form_start(formBaja, {'attr':{'id':'formBaja'}}) }}
                <div class="modal-body">
                    <p id="delete_text" class="font-bold"></p>
                    {{ form_label(formBaja.comentario, 'Escriba el motivo de la baja') }}
                    {{ form_widget(formBaja.comentario) }}
                    <div class="hidden">
                        {{ form_widget(formBaja) }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">No, Cancelar</button>
                    <button type="submit" class="btn btn-danger">Si, Dar baja</button>
                </div>
                {{ form_end(formBaja) }}
            </div>
        </div>
    </div>
    {# /Modal Dar Baja #}

{% endblock %}